.right-main{
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
}
.right-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-bottom{
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-bottom::-webkit-scrollbar{
    background-color: transparent;
}

.right-bottom::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: 10px;
}