.right-main{
    background-color: gray;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
}
.right-top{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-bottom{
    background-color: olive;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}