*{
    margin: 0;
    padding: 0;
}

.left-item{
    display: flex;
    font-family: 'Rubik', sans-serif;
    padding-left:20px;
    margin-bottom:15px;
    border-radius: 3px;
    font-size:20px;
    padding:10px;
    box-sizing: border-box;
}
.bullet{
    width:20px;
    height:20px;
    border-radius: 3px;
    border: 3px solid #e0e0e0;
    margin-right:5px;
}
.left-item:hover{
    border-radius: 0px 10px 10px 0px;
    background-color: grey;
    color:white;
    cursor: pointer;
}