.note-container{
    border: 1px solid #e0e0e0;
    border-radius:5px;
    margin:5px;
    width:300px;
    box-sizing: border-box;
    padding:10px;
    font-size: 20px;
}

.note-container:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 20%);
}

.shownote-parent{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}