
.addnote-parent{
    border: 1px solid #e0e0e0;
    padding: 20px;
    width:33%;
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 20%);
}




.addnote-title{
    background: transparent;
    border: none;
    margin-bottom: 15px;
    font-size: 15px;
    width:90%;
}
.addnote-title:focus{
    outline: none;
}

.addnote-title::placeholder {
    color: black;
}




.addnote-content{
    background: transparent;
    border: none;
    margin-bottom: 15px;
    font-size:15px;
    width:90%;
}

.addnote-content::placeholder {
    color: black;
}
.addnote-content:focus {
    outline: none;
}

.addnote-options{
    display: flex;
    justify-content: space-between;
}
.choose-color-3399ff{
    background-color: #3399ff;
    width:20px;
    height:20px;
    border-radius:10px;
    margin-right:10px;
}
.choose-color-3399ff:hover{
    border-radius:0px;
    cursor: pointer;
}
.choose-color-ff99cc{
    background-color: #ff99cc;
    width:20px;
    height:20px;
    border-radius:10px;
    margin-right:10px;
}
.choose-color-ff99cc:hover{
    border-radius:0px;
    cursor: pointer;
}
.choose-color-ffcc66{
    background-color: #ffcc66;
    width:20px;
    height:20px;
    border-radius:10px;
    margin-right:10px;
}
.choose-color-ffcc66:hover{
    border-radius:0px;
    cursor: pointer;
}
.choose-color-99ff99{
    background-color: #99ff99;
    width:20px;
    height:20px;
    border-radius:10px;
    margin-right:10px;
}
.choose-color-99ff99:hover{
    border-radius:0px;
    cursor: pointer;
}
.choose-color-ff9966{
    background-color: #ff9966;
    width:20px;
    height:20px;
    border-radius:10px;
    margin-right:10px;
}
.choose-color-ff9966:hover{
    border-radius:0px;
    cursor: pointer;
}
.color-picker{
    display: flex;
    background-color: white;
    padding:10px;
    border-radius: 10px;
}

.addnote-save-btn{
    padding:3px 10px;
    background-color: white;
    border: none;
    font-size: 15px;

    border-radius: 5px;
}
.addnote-save-btn:hover{
    background-color:black;
    color: white;    
}
.tag-selector{
    padding: 5px 10px;
    font-size: 15px;
    
    border-radius: 5px;
    background-color:white;

}
.tag-selector:hover{
    background-color: black;
    color: white;
}