
.addnote-parent{
    border: 1px solid black;
    padding: 20px;
    width:33%;
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom:20px;
}




.addnote-title{
    background: transparent;
    border: none;
    margin-bottom: 15px;
    font-size: 15px;
    width:90%;
}
.addnote-title:focus{
    outline: none;
}

.addnote-title::placeholder {
    color: black;
}




.addnote-content{
    background: transparent;
    border: none;
    margin-bottom: 15px;
    font-size:15px;
    width:90%;
}

.addnote-content::placeholder {
    color: black;
}
.addnote-content:focus {
    outline: none;
}

.addnote-options{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}